{% extends 'base.html.twig' %}

{% block body %}
	<div id="popupOverlay" class="hidden">
		<div id="popupContent">
			<span id="closePopup">&times;</span>
			<h2>Popup Title</h2>
			<p>This is a simple popup using CSS Grid.</p>
		</div>
	</div>
{% endblock %}
